<div class="texto">
    <p>Aprende técnicas de venta y obtén resultados inmediatos consiguiendo más clientes y aprendiendo a cerrar negocios
    </p>
    <p>¿Sospechas que no estás exprimiendo la vida a tope? ¿Has pensado alguna vez que es el día a día el que te
        controla a ti y no al revés? ¿Sabías que la mala gestión del tiempo, y por tanto de la vida, influye
        negativamente sobre la autoestima y la calidad de vida? Si te gustaría ser mucho más productivo en tu trabajo,
        olvidar para siempre la falta de control, sorprender a los demás, encontrar más tiempo para ti y para los tuyos,
        entonces este es tu curso. </p>
</div>