<div class ="bigcontainer">
    <div class="container">
        <div class="empleados">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Puntaje</th>
                        <th>En Curso</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of items">
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.apellido }}</td>
                        <td>{{ item.puntaje }}</td>
                        <td>{{ item.cursos }}</td>
                        <td><input type="checkbox" [(ngModel)]="item.selected"></td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="cursos">
            <table class="tabla">
                <thead>
                    <tr>
                        <th>Habilidad</th>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th># Horas</th>
                        <th>Select</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of courses">
                        <td>{{ item.habilidad }}</td>
                        <td>{{ item.titulo }}</td>
                        <td>{{ item.descrip }}</td>
                        <td>{{ item.horas }}</td>
                        <td><input type="checkbox" [(ngModel)]="item.selected"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>
    <div class="botones">
        <button class="inicar_sesion">Asignar</button>
        <button class="btn-cancelar" (click)="desmarcarElementos()">Cancelar</button>
    </div>
    
</div>
