
button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

a {
    color: #3F2AED;
    text-decoration: none;
    font-size: 14px;
}

p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
}


.inicar_sesion {
    color: #DFD0B8;
    background-color: #3C5B6F;
}

.login_div {
    width: 320px;
    margin-top: 100px;
    margin: 0 auto; 
    text-align: center;
    background-color: #FFFFFF;
    border-radius: 20px;
}


.btn-cancelar {
    color: #3C5B6F;
    background-color: #DFD0B8;
}
.form-container input[type="text"],
.form-container input[type="password"] {
    font-size: 15px; 
    padding: 5px;
    width: 90%; 
    margin-bottom: 10px; 
}



.inicar_sesion:hover {
    background-color: #948979;
}

.inicar_sesion:active {
    background-color: #3C5B6F;
}

.btn-cancelar:hover {
    background-color: #3C5B6F;
    color:#DFD0B8;
}

.btn-cancelar:active {
    background-color: #948979;
}
   
  input{
    width: 80%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 25px;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    border-bottom: 1px solid #a8a8a8;
    color: #333;
  }
   
input:active,
input:focus{
    outline: none;
  }
   
  @media only screen and (max-width: 540px){
    .login-container{
      display: block;
    }
   
    .register, .login{
      flex: none;
    }
   
    .register::after{
      top: unset;
      bottom: -25px;
      left: 50%;
      transform: translateX(-50%) rotate(90deg);
    }
  }