<nav>
    <ul class="admin">
        <li>
            <a class="opcion" routerLink="/empleados">Empleados</a>
        </li>
        <li>
            <a class="opcion" routerLink="/crear_empleado">Crear</a>
        </li>
    </ul>
    <ul class="jefe">
        <li>
            <a class="opcion" routerLink="/jefemain">Inicio</a>
        </li>
        <li>
            <a class="opcion" routerLink="/asignar-curso">Asignar</a>
        </li>
    </ul>
    <ul class="empleado">
        <li>
            <a class="opcion" routerLink="/empleado-main">Inicio</a>
        </li>
        <li>
            <a class="opcion" routerLink="/empleado-lista">Cursos</a>
        </li>
    </ul>
</nav>