<div class="login_div">
    <br>
    <p>¿No registrado? <a href="/signup">crea tu cuenta ahora</a></p>
    <form method="POST" class="login_form">

        <input type="text" placeholder="Correo" class="correo">
        <input type="password" placeholder="Contraseña" class="pass">

        <br><br>
        <button class="inicar_sesion">Iniciar sesión</button>
        <button class="btn-cancelar">Cancelar</button>
        <br><br>

        <p><a href="/recuperar_clave">Olvidé mi contraseña</a></p>
        <br>
    </form>
</div>