header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #153448;
    color: white;
    height: 10%;

}

.img_logo img {
    width: 150px;
    height: auto;
}

button {
    padding: 10px 20px;
    color: #DFD0B8;
    border: none;
    border-radius: 20px;
    background-color: #3C5B6F;
    cursor: pointer;
}

button:hover {
    background-color: #948979;
}

button:active {
    background-color: #3C5B6F;
}