<div class="survey_container">
    <div class="survey">
        <h1>Encuesta de Satisfacción</h1>
        <form (ngSubmit)="submitSurvey()">
            <div *ngFor="let question of habilidadesBlandas; let i = index" class="question">
                <p>{{(i + 1) + ": "+ question.text}}</p>
                <div class="options">
                    <label *ngFor="let option of question.options">
                        <input type="radio" [name]="'question' + i" [value]="option.value"
                            (click)="saveResponse(i, option.value)">
                        {{option.label}}
                    </label>
                </div>
            </div>
            <button type="submit">Enviar</button>
            <button (click)="calculateSum()" type="submit">Suma</button>
        </form>
    </div>


</div>
<div class="metricas">
    <p>texto de prueba salida de metricas de desempeño</p>
    <div class="grafica">
        <div class="barra" [style.width]="porcentaje1 + '%'"></div>
        <div class="spacer"></div>
        <div class="barra" [style.width]="porcentaje2 + '%'"></div>
    </div>
</div>