
.survey {
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .survey-container {
    display: flex;
    width: 100%;
    height: 100%;
  }

  h1 {
    text-align: center;
  }
  
  .question {
    margin-bottom: 20px;
    background-color: #faf4eb;
    padding: 10px;
  }
  
  .options {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  .options label {
    flex: 1;
    text-align: center;
  }
  
  button {
    padding: 10px 20px;
    color: #DFD0B8;
    border: none;
    border-radius: 20px;
    background-color: #3C5B6F;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #948979;
}

button:active {
    background-color: #3C5B6F;
}

.metricas {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 30%;
    margin-left: auto; /* Para colocarlo a la derecha */
    height: 100%;
  }


  :host {
    display: flex;
    flex: 1; /* Para que el componente ocupe todo el espacio disponible */
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .grafica {
  width: 100%;
  height: 500px; /* Altura de la gráfica */
  background-color: #f0f0f0; /* Color de fondo de la gráfica */
  border-radius: 5px; /* Borde redondeado */
}

.barra {
  height: 50px;
  background-color: #007bff; /* Color de las barras */
  transition: width 0.5s ease; /* Transición suave para la animación */
}

.spacer {
    width: 10px; /* Ancho del espacio entre las barras */
  }